In [1]:
# Import moduls
import pandas as pd
import json
from pandas.io.json import json_normalize
from flatten_json import flatten

## JSON exercise

Using data in file 'data/world_bank_projects.json' and:

1. Find the 10 countries with most projects
1. Find the top 10 major project themes (using column 'mjtheme_namecode')
1. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [2]:
# load json as a string
dataset = json.load((open('data/world_bank_projects.json')))

In [91]:
# Look what's in dataset using json_normalize function, output is Pandas DataFrame
json_normalize(dataset)

,_id.$oid,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,source,status,supplementprojectflg,theme1.Name,theme1.Percent,theme_namecode,themecode,totalamt,totalcommamt,url
0,52b213b38594d8a2be17c780,1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,IBRD,Active,N,Education for all,100,"[{'code': '65', 'name': 'Education for all'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,52b213b38594d8a2be17c781,2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,IBRD,Active,N,Other economic management,30,"[{'code': '24', 'name': 'Other economic manage...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en
2,52b213b38594d8a2be17c782,2014,November,2013-11-01T00:00:00Z,MINISTRY OF FINANCE AND ECONOMIC DEVEL,NaN,Tuvalu!$!TV,TV,Tuvalu,Tuvalu,...,IBRD,Active,Y,Regional integration,46,"[{'code': '47', 'name': 'Regional integration'...","52,81,25,47",6060000,6060000,http://www.worldbank.org/projects/P145310?lang=en
3,52b213b38594d8a2be17c783,2014,October,2013-10-31T00:00:00Z,MIN. OF PLANNING AND INT'L COOPERATION,NaN,Republic of Yemen!$!RY,RY,Republic of Yemen,"Yemen, Republic of",...,IBRD,Active,N,Participation and civic engagement,50,"[{'code': '57', 'name': 'Participation and civ...","59,57",0,1500000,http://www.worldbank.org/projects/P144665?lang=en
4,52b213b38594d8a2be17c784,2014,October,2013-10-31T00:00:00Z,MINISTRY OF FINANCE,2019-04-30T00:00:00Z,Kingdom of Lesotho!$!LS,LS,Kingdom of Lesotho,Lesotho,...,IBRD,Active,N,Export development and competitiveness,30,"[{'code': '45', 'name': 'Export development an...","41,45",13100000,13100000,http://www.worldbank.org/projects/P144933/seco...
5,52b213b38594d8a2be17c785,2014,October,2013-10-31T00:00:00Z,REPUBLIC OF KENYA,NaN,Republic of Kenya!$!KE,KE,Republic of Kenya,Kenya,...,IBRD,Active,Y,Social safety nets,100,"[{'code': '54', 'name': 'Social safety nets'}]",54,10000000,10000000,http://www.worldbank.org/projects/P146161?lang=en
6,52b213b38594d8a2be17c786,2014,October,2013-10-29T00:00:00Z,GOVERNMENT OF INDIA,2019-06-30T00:00:00Z,Republic of India!$!IN,IN,Republic of India,India,...,IBRD,Active,N,Administrative and civil service reform,20,"[{'code': '25', 'name': 'Administrative and ci...","39,25",500000000,500000000,http://www.worldbank.org/projects/P121185/firs...
7,52b213b38594d8a2be17c787,2014,October,2013-10-29T00:00:00Z,PEOPLE'S REPUBLIC OF CHINA,NaN,People's Republic of China!$!CN,CN,People's Republic of China,China,...,IBRD,Active,N,Climate change,100,"[{'code': '81', 'name': 'Climate change'}]",81,0,27280000,http://www.worldbank.org/projects/P127033/chin...
8,52b213b38594d8a2be17c788,2014,October,2013-10-29T00:00:00Z,THE GOVERNMENT OF INDIA,2018-12-31T00:00:00Z,Republic of India!$!IN,IN,Republic of India,India,...,IBRD,Active,N,Other rural development,87,"[{'code': '79', 'name': 'Other rural developme...",79,160000000,160000000,http://www.worldbank.org/projects/P130164/raja...
9,52b213b38594d8a2be17c789,2014,October,2013-10-29T00:00:00Z,THE KINGDOM OF MOROCCO,2014-12-31T00:00:00Z,Kingdom of Morocco!$!MA,MA,Kingdom of Morocco,Morocco,...,IBRD,Active,N,Other accountability/anti-corruption,33,"[{'code': '29', 'name': 'Other accountability/...","27,30,29",200000000,200000000,http://www.worldbank.org/projects/P130903?lang=en
10,52b213b38594d8a2be17c78a,2014,October,2013-10-25T00:00:00Z,GOVERNMENT OF SOUTH SUDAN,NaN,Republic of South Sudan!$!SS,SS,Republic of South Sudan,South Sudan,...,IBRD,Active,Y,Global food crisis response,100,"[{'code': '91', 'name': 'Global food crisis re...",91,0,7530000,http://www.worldbank.org/projects/P145339?lang=en
11,52b213b38594d8a2be17c78b,2014,October,2013-10-25T00:00:00Z,NaN,2017-12-31T00:00:00Z,Republic of India!$!IN,IN,Republic of India,India,...,IBRD,Active,N,Rural services and infrastructure,60,"[{'code': '78', 'name': 'Rural services and in...","81,87,52,78",250000000,250000000,http://www.worldbank.org/projects/P146653?lang=en
12,52b213b38594d8a2be17c78c,2014,October,2013-10-24T00:00:00Z,GOVERNMENT OF GHANA,2019-06-30T00:00:00Z,Republic of Ghana!$!GH,GH,Republic of Ghana,Ghana,...,IBRD,Active,N,,0,NaN,NaN,97000000,97000000,http://www.worldbank.org/projects/P144140/gh-e...
13,52b213b38594d8a2be17c78d,2014,October,2013-10-22T00:00:00Z,GOVERNMENT OF TIMOR LESTE,NaN,Democratic Republic of Timor-Leste!$!TP,TP,Democratic Republic of Timor-Leste,Timor-Leste,...,IBRD,Active,Y,Regional integration,20,"[{'code': '47', 'name': 'Regional integration'...","78,81,47",40000000,40000000,http://www.worldbank.org/projects/P130975/timo...
14,52b213b38594d8a2be17c78e,2014,October,2013-10-22T00:00:00Z,GOVERNMENT OF JORDAN,NaN,Hashemite Kingdom of Jordan!$!JO,JO,Hashemite Kingdom of Jordan,Jordan,...,IBRD,Active,N,Social safety nets,50,"[{'code': '54', 'name': 'Social safety nets'},...","53,56,54",0,9500000,http://www.worldbank.org/projects/P144832?lang=en
15,52b213b38594d8a2be17c78f,2014,October,2013-10-17T00:00:00Z,MINISTRY OF FINANCE,2019-04-30T00:00:00Z,Samoa!$!WS,WS,Samoa,Samoa,...,IBRD,Active,N,Rural services and infrastructure,60,"[{'code': '78', 'name': 'Rural services and in...","49,81,78",20000000,20000000,http://www.worldbank.org/projects/P145545?lang=en
16,52b213b38594d8a2be17c790,2014,October,2013-10-17T00:00:00Z,MINISTRY OF FINANCE,2015-12-31T00:00:00Z,Samoa!$!WS,WS,Samoa,Samoa,...,IBRD,Active,N,Other rural development,100,"[{'code': '79', 'name': 'Other rural developme...",79,5000000,5000000,http://www.worldbank.org/projects/P145938?lang=en
17,52b213b38594d8a2be17c791,2014,October,2013-10-16T00:00:00Z,MINISTRY OF FINANCE AND BUDGET (MFB),NaN,Republic of Madagascar!$!MG,MG,Republic of Madagascar,Madagascar,...,IBRD,Active,N,Education for all,100,"[{'code': '65', 'name': 'Education for all'}]",65,0,85400000,http://www.worldbank.org/projects/P132616?lang=en
18,52b213b38594d8a2be17c792,2014,October,2013-10-16T00:00:00Z,ROYAL GOVERNMENT OF CAMBODIA,NaN,Kingdom of Cambodia!$!KH,KH,Kingdom of Cambodia,Cambodia,...,IBRD,Active,Y,Child health,17,"[{'code': '63', 'name': 'Child health'}, {'cod...","69,57,25,67,63",0,13450000,http://www.worldbank.org/projects/P146271?lang=en
19,52b213b38594d8a2be17c793,2014,October,2013-10-10T00:00:00Z,MINISTRY OF FINANCE,NaN,Kingdom of Morocco!$!MA,MA,Kingdom of Morocco,Morocco,...,IBRD,Active,N,"Public expenditure, financial management and p...",40,"[{'code': '27', 'name': 'Public expenditure, f...","25,26,27",0,4350000,http://www.worldbank.org/projects/P143979?lang=en
20,52b213b38594d8a2be17c794,2014,October,2013-10-09T00:00:00Z,AGA KHAN DEVELOPMENT NETWORK (AKDN),NaN,Kyrgyz Republic!$!KG,KG,Kyrgyz Republic,Kyrgyz Republic,...,IBRD,Active,N,Conflict prevention and post-conflict reconstr...,50,"[{'code': '58', 'name': 'Conflict prevention a...","57,58",0,2000000,http://www.worldbank.org/projects/P132577?lang=en
21,52b213b38594d8a2be17c795,2014,October,2013-10-07T00:00:00Z,NEPAL,NaN,Nepal!$!NP,NP,Nepal,Nepal,...,IBRD,Active,N,Urban services and housing for the poor,30,"[{'code': '71', 'name': 'Urban services and ho...","57,71",0,2750000,http://www.worldbank.org/projects/P145359?lang=en
22,52b213b38594d8a2be17c796,2014,October,2013-10-07T00:00:00Z,MINISTRY OF PLANNING AND INTERNATIONAL C,NaN,Hashemite Kingdom of Jordan!$!JO,JO,Hashemite Kingdom of Jordan,Jordan,...,IBRD,Active,N,Other social development,25,"[{'code': '62', 'name': 'Other social developm...","58,62",0,50000000,http://www.worldbank.org/projects/P147689?lang=en
23,52b213b38594d8a2be17c797,2014,October,2013-10-03T00:00:00Z,REPUBLIC OF TAJIKISTAN,NaN,Republic of Tajikistan!$!TJ,TJ,Republic of Tajikistan,Tajikistan,...,IBRD,Active,N,Nutrition and food security,60,"[{'code': '68', 'name': 'Nutrition and food se...","63,68",0,2800000,http://www.worldbank.org/projects/P146109?lang=en
24,52b213b38594d8a2be17c798,2014,September,2013-09-30T00:00:00Z,REPUBLIC OF AZERBAIJAN,2018-12-31T00:00:00Z,Republic of Azerbaijan!$!AZ,AZ,Republic of Azerbaijan,Azerbaijan,...,IBRD,Active,N,Rural markets,30,"[{'code': '75', 'name': 'Rural markets'}, {'co...","56,78,76,75",34500000,34500000,http://www.worldbank.org/projects/P122812/thir...
25,52b213b38594d8a2be17c799,2014,September,2013-09-30T00:00:00Z,UNIVERSITY OF QUEENSLAND,NaN,East Asia and Pacific!$!4E,4E,East Asia and Pacific,East Asia and Pacific,...,IBRD,Active,N,Other environment and natural resources manage...,40,"[{'code': '86', 'name': 'Other environment and...","80,81,86",0,4500000,http://www.worldbank.org/projects/P123933/capt...
26,52b213b38594d8a2be17c79a,2014,September,2013-09-30T00:00:00Z,LAO PEOPLES DEMOCRATIC REPUBLIC,2014-03-31T00:00:00Z,Lao People's Democratic Republic!$!LA,LA,Lao People's Democratic Republic,Lao People's Democratic Republic,...,IBRD,Closed,N,Regulation and competition policy,14,"[{'code': '40', 'name': 'Regulation and compet...","67,27,49,40",20000000,20000000,http://www.worldbank.org/projects/P143025/lao-...
27,52b213b38594d8a2be17c79b,2014,September,2013-09-30T00:00:00Z,PACIFIC AVIATION SECURITY OFFICE,2018-12-31T00:00:00Z,Pacific Islands!$!4P,4P,Pacific Islands,Pacific Islands,...,IBRD,Active,N,Climate change,5,"[{'code': '81', 'name': 'Climate change'}, {'c...","52,47,25,81",2150000,2150000,http://www.worldbank.org/projects/P145057/paci...
28,52b213b38594d8a2be17c79c,2014,September,2013-09-30T00:00:00Z,SOLOMON ISLANDS GOVERNMENT,NaN,Solomon Islands!$!SB,SB,Solomon Islands,Solomon Islands,...,IBRD,Active,Y,Rural policies and institutions,30,"[{'code': '77', 'name': 'Rural policies and in...","57,78,77",3000000,3000000,http://www.worldbank.org/projects/P146021?lang=en
29,52b213b38594d8a2be17c79d,2014,September,2013-09-27T00:00:00Z,GOVERNMENT OF MOZAMBIQUE,NaN,Republic of Mozambique!$!MZ,MZ,Republic of Mozambique,Mozambique,...,IBRD,Active,Y,Other social development,4,"[{'code': '62', 'name': 'Other social developm...","85,62",32000000,32000000,http://www.worldbank.org/projects/P146098?lang=en
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,52b213b38594d8a2be17c956,2013,September,2012-09-20T00:00:00Z,GOVERNMENT OF LIBERIA,NaN,Republic of Liberia!$!LR,LR,Republic of Liberia,Liberia,...,IBRD,Active,Y,Trade facilitation and market access,40,"[{'code': '49', 'name': 'Trade facilitation an...","78,49",50000000,50000000,http://www.worldbank.org/projects/P129654/libe...
471,52b213b38594d8a2be17c957,2013,September,2012-09-20T00:00:00Z,GOVERNMENT OF BANGLADESH,2018-12-31T00:00:00Z,People's Republic of Bangladesh!$!BD,BD,People's Republic of Bangladesh,Bangladesh,...,IBRD,Active,N,Rural services and infrastructure,45,"[{'code': '78', 'name': 'Rural services and in...","59,81,57,78",155000000,155000000,http://www.worldbank.org/projects/P131263/rura...
472,52b213b38594d8a2be17c958,2013,September,2012-09-13T00:00:00Z,MINISTRY OF NATURE PROTECTION,2014-09-30T00:00:00Z,Republic of Armenia!$!AM,AM,Republic of Armenia,Armenia,...,IBRD,Active,N,Other environment and natural resources manage...,100,"[{'code': '86', 'name': 'Other environment and...",86,0,150000,http://www.worldbank.org/projects/P131631/repo...
473,52b213b38594d8a2be17c959,2013,September,2012-09-13T00:00:00Z,"MINISTRY OF ENVIRONMENT, FORESTS, WATER",NaN,Republic of Albania!$!AL,AL,Republic of Albania,Albania,...,IBRD,Active,N,Other environment and natural resources manage...,100,"[{'code': '86', 'name': 'Other environment and...",86,0,150000,http://www.worldbank.org/projects/P132679/land...
474,52b213b38594d8a2be17c95a,2013,September,2012-09-11T00:00:00Z,GOVERNMENT OF PAKISTAN,2017-06-30T00:00:00Z,Islamic Republic of Pakistan!$!PK,PK,Islamic Republic of Pakistan,Pakistan,...,IBRD,Active,N,Municipal finance,34,"[{'code': '72', 'name': 'Municipal finance'}, ...","73,72",150000000,150000000,http://www.worldbank.org/projects/P112901/pk-p...
475,52b213b38594d8a2be17c95b,2013,September,2012-09-11T00:00:00Z,GOVERNMENT OF INDONESIA,2018-03-31T00:00:00Z,Republic of Indonesia!$!ID,ID,Republic of Indonesia,Indonesia,...,IBRD,Active,N,Infrastructure services for private sector dev...,25,"[{'code': '39', 'name': 'Infrastructure servic...","72,39",29600000,29600000,http://www.worldbank.org/projects/P118916/infr...
476,52b213b38594d8a2be17c95c,2013,September,2012-09-11T00:00:00Z,SOCIALIST REPUBLIC OF VIETNAM,2018-12-31T00:00:00Z,Socialist Republic of Vietnam!$!VN,VN,Socialist Republic of Vietnam,Vietnam,...,IBRD,Active,N,Rural services and infrastructure,100,"[{'code': '78', 'name': 'Rural services and in...",78,448900000,448900000,http://www.worldbank.org/projects/P125996/dist...
477,52b213b38594d8a2be17c95d,2013,September,2012-09-11T00:00:00Z,REPUBLIC OF UZBEKISTAN,NaN,Republic of Uzbekistan!$!UZ,UZ,Republic of Uzbekistan,Uzbekistan,...,IBRD,Active,Y,"Micro, Small and Medium Enterprise support",40,"[{'code': '41', 'name': 'Micro, Small and Medi...","75,41",40000000,40000000,http://www.worldbank.org/projects/P126962/addi...
478,52b213b38594d8a2be17c95e,2013,September,2012-09-11T00:00:00Z,ISLAMIC REPUBLIC OF PAKISTAN,NaN,Islamic Republic of Pakistan!$!PK,PK,Islamic Republic of Pakistan,Pakistan,...,IBRD,Active,Y,Administrative and civil service reform,10,"[{'code': '25', 'name': 'Administrative and ci...","83,36,25",70000000,70000000,http://www.worldbank.org/projects/P131266/punj...
479,52b213b38594d8a2be17c95f,2013,September,2012-09-10T00:00:00Z,UT'Z CHE,2016-05-07T00:00:00Z,Republic of Guatemala!$!GT,GT,Republic of Guatemala,Guatemala,...,IBRD,Active,N,Other social development,100,"[{'code': '62', 'name': 'Other social developm...",62,0,2510000,http://www.worldbank.org/projects/P130412/stre...
480,52b213b38594d8a2be17c960,2013,September,2012-09-10T00:00:00Z,GOVERNMENT OF ZAMBIA,2014-12-31T00:00:00Z,Republic of Zambia!$!ZM,ZM,Republic of Zambia,Zambia,...,IBRD,Active,N,Other public sector governance,100,"[{'code': '30', 'name': 'Other public sector g...",30,0,350000,http://www.worldbank.org/projects/P131881/zamb...
481,52b213b38594d8a2be17c961,2013,September,2012-09-06T00:00:00Z,GOVERNMENT OF INDIA,2015-12-31T00:00:00Z,Republic of India!$!IN,IN,Republic of India,India,...,IBRD,Active,N,Child health,23,"[{'code': '63', 'name': 'Child health'}, {'cod...","68,59,57,63",106000000,106000000,http://www.worldbank.org/projects/P121731/icds...
482,52b213b38594d8a2be17c962,2013,September,2012-09-06T00:00:00Z,GOVERNMENT OF INDIA,2018-12-31T00:00:00Z,Republic of India!$!IN,IN,Republic of India,India,...,IBRD,Active,N,Rural services and infrastructure,10,"[{'code': '78', 'name': 'Rural services and in...","79,85,86,78",60000000,60000000,http://www.worldbank.org/projects/P122486/karn...
483,52b213b38594d8a2be17c963,2013,September,2012-09-06T00:00:00Z,GOVERNMENT OF INDIA,2013-09-30T00:00:00Z,Republic of India!$!IN,IN,Republic of India,India,...,IBRD,Closed,N,Pollution management and environmental health,19,"[{'code': '84', 'name': 'Pollution management ...","82,78,81,84",100000000,100000000,http://www.worldbank.org/projects/P124041/hima...
484,52b213b38594d8a2be17c964,2013,September,2012-09-06T00:00:00Z,"ILO, MINLAND & CFSI & BANK",2015-12-31T00:00:00Z,Republic of the Philippines!$!PH,PH,Republic of the Philippines,Philippines,...,IBRD,Active,Y,Rural non-farm income generation,9,"[{'code': '76', 'name': 'Rural non-farm income...","78,58,41,76",0,5570000,http://www.worldbank.org/projects/P132238/mult...
485,52b213b38594d8a2be17c965,2013,September,2012-09-05T00:00:00Z,GOVERNMENT OF MONGOLIA,2013-12-31T00:00:00Z,Mongolia!$!MN,MN,Mongolia,Mongolia,...,IBRD,Active,N,Other communicable diseases,100,"[{'code': '64', 'name': 'Other communicable di...",64,0,2900000,http://www.worldbank.org/projects/P131204/capa...
486,52b213b38594d8a2be17c966,2013,September,2012-09-01T00:00:00Z,GOVERNMENT OF LEBANON & JORDAN,2015-01-31T00:00:00Z,Middle East and North Africa!$!5M,5M,Middle East and North Africa,Middle East and North Africa,...,IBRD,Active,N,Other public sector governance,25,"[{'code': '30', 'name': 'Other public sector g...","54,55,56,30",0,2400000,http://www.worldbank.org/projects/P132097/5m-d...
487,52b213b38594d8a2be17c967,2013,August,2012-08-30T00:00:00Z,UNITED MEXICAN STATES,2017-08-31T00:00:00Z,United Mexican States!$!MX,MX,United Mexican States,Mexico,...,IBRD,Active,N,Biodiversity,20,"[{'code': '80', 'name': 'Biodiversity'}, {'cod...","82,79,77,80",0,11690000,http://www.worldbank.org/projects/P121116/sust...
488,52b213b38594d8a2be17c968,2013,August,2012-08-30T00:00:00Z,THE STATE OF RIO DE JANEIRO,2014-01-31T00:00:00Z,Federative Republic of Brazil!$!BR,BR,Federative Republic of Brazil,Brazil,...,IBRD,Closed,N,Health system performance,20,"[{'code': '67', 'name': 'Health system perform...","65,28,27,67",300000000,300000000,http://www.worldbank.org/projects/P126465/rio-...
489,52b213b38594d8a2be17c969,2013,August,2012-08-30T00:00:00Z,UN-HABITAT,2015-06-30T00:00:00Z,The Independent State of Papua New Guine!$!PG,PG,The Independent State of Papua New Guine,Papua New Guinea,...,IBRD,Closed,N,Urban services and housing for the poor,50,"[{'code': '71', 'name': 'Urban services and ho...","73,55,52,71",0,350000,http://www.worldbank.org/projects/P128763/papu...
490,52b213b38594d8a2be17c96a,2013,August,2012-08-29T00:00:00Z,GOVERNMENT OF NEPAL,2014-06-30T00:00:00Z,Nepal!$!NP,NP,Nepal,Nepal,...,IBRD,Active,N,"Public expenditure, financial management and p...",80,"[{'code': '27', 'name': 'Public expenditure, f...","29,27",0,800000,http://www.worldbank.org/projects/P131860/stre...
491,52b213b38594d8a2be17c96b,2013,August,2012-08-24T00:00:00Z,PALESTINIAN WATER AUTHORITY,2014-03-31T00:00:00Z,West Bank and Gaza!$!GZ,GZ,West Bank and Gaza,West Bank and Gaza,...,IBRD,Active,N,Rural services and infrastructure,100,"[{'code': '78', 'name': 'Rural services and in...",78,0,3650000,http://www.worldbank.org/projects/P123322/wate...
492,52b213b38594d8a2be17c96c,2013,August,2012-08-21T00:00:00Z,GOVERNMENT OF PAKISTAN,2015-06-30T00:00:00Z,Islamic Republic of Pakistan!$!PK,PK,Islamic Republic of Pakistan,Pakistan,...,IBRD,Active,N,Education for all,70,"[{'code': '65', 'name': 'Education for all'}, ...","59,65",0,10000000,http://www.worldbank.org/projects/P128096/paki...
493,52b213b38594d8a2be17c96d,2013,August,2012-08-21T00:00:00Z,GOVERNMENT OF BANGLADESH,2015-04-30T00:00:00Z,People's Republic of Bangladesh!$!BD,BD,People's Republic of Bangladesh,Bangladesh,...,IBRD,Active,N,Other environment and natural resources manage...,100,"[{'code': '86', 'name': 'Other environment and...",86,0,150000,http://www.worldbank.org/projects/P132138/revi...
494,52b213b38594d8a2be17c96e,2013,August,2012-08-17T00:00:00Z,MINISTRY OF EDUCATION,2014-06-30T00:00:00Z,Nepal!$!NP,NP,Nepal,Nepal,...,IBRD,Active,N,Natural disaster management,100,"[{'code': '52', 'name': 'Natural disaster mana...",52,0,1510000,http://www.worldbank.org/projects/P129177/nepa...
495,52b213b38594d8a2be17c96f,2013,August,2012-08-10T00:00:00Z,THE COMPETITIVENESS COMPANY,2013-08-31T00:00:00Z,Jamaica!$!JM,JM,Jamaica,Jamaica,...,IBRD,Closed,N,Regulation and competition policy,50,"[{'code': '40', 'name': 'Regulation and compet...","62,40",0,50000,http://www.worldbank.org/projects/P127299/tech...
496,52b213b38594d8a2be17c970,2013,August,2012-08-09T00:00:00Z,LAO PEOPLES DEMOCRATIC REPUBLIC,2012-12-31T00:00:00Z,Lao People's Democratic Republic!$!LA,LA,Lao People's Democratic Republic,Lao People's Democratic Republic,...,IBRD,Closed,N,Child health,14,"[{'code': '63', 'name': 'Child health'}, {'cod...","65,27,49,63",20000000,20000000,http://www.worldbank.org/projects/P125298/lao-...

In [99]:
json.load((open('data/world_bank_projects_less.json')))

[{'_id': {'$oid': '52b213b38594d8a2be17c780'},
  'approvalfy': 1999,
  'board_approval_month': 'November',
  'boardapprovaldate': '2013-11-12T00:00:00Z',
  'borrower': 'FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA',
  'closingdate': '2018-07-07T00:00:00Z',
  'country_namecode': 'Federal Democratic Republic of Ethiopia!$!ET',
  'countrycode': 'ET',
  'countryname': 'Federal Democratic Republic of Ethiopia',
  'countryshortname': 'Ethiopia',
  'docty': 'Project Information Document,Indigenous Peoples Plan,Project Information Document',
  'envassesmentcategorycode': 'C',
  'grantamt': 0,
  'ibrdcommamt': 0,
  'id': 'P129828',
  'idacommamt': 130000000,
  'impagency': 'MINISTRY OF EDUCATION',
  'lendinginstr': 'Investment Project Financing',
  'lendinginstrtype': 'IN',
  'lendprojectcost': 550000000,
  'majorsector_percent': [{'Name': 'Education', 'Percent': 46},
   {'Name': 'Education', 'Percent': 26},
   {'Name': 'Public Administration, Law, and Justice', 'Percent': 16},
   {'Name': 'Education', 'Percent': 12}],
  'mjsector_namecode': [{'code': 'EX', 'name': 'Education'},
   {'code': 'EX', 'name': 'Education'},
   {'code': 'BX', 'name': 'Public Administration, Law, and Justice'},
   {'code': 'EX', 'name': 'Education'}],
  'mjtheme': ['Human development'],
  'mjtheme_namecode': [{'code': '8', 'name': 'Human development'},
   {'code': '11', 'name': ''}],
  'mjthemecode': '8,11',
  'prodline': 'PE',
  'prodlinetext': 'IBRD/IDA',
  'productlinetype': 'L',
  'project_abstract': {'cdata': 'The development objective of the Second Phase of General Education Quality Improvement Project for Ethiopia is to improve learning conditions in primary and secondary schools and strengthen institutions at different levels of educational administration. The project has six components. The first component is curriculum, textbooks, assessment, examinations, and inspection. This component will support improvement of learning conditions in grades KG-12 by providing increased access to teaching and learning materials and through improvements to the curriculum by assessing the strengths and weaknesses of the current curriculum. This component has following four sub-components: (i) curriculum reform and implementation; (ii) teaching and learning materials; (iii) assessment and examinations; and (iv) inspection. The second component is teacher development program (TDP). This component will support improvements in learning conditions in both primary and secondary schools by advancing the quality of teaching in general education through: (a) enhancing the training of pre-service teachers in teacher education institutions; and (b) improving the quality of in-service teacher training. This component has following three sub-components: (i) pre-service teacher training; (ii) in-service teacher training; and (iii) licensing and relicensing of teachers and school leaders. The third component is school improvement plan. This component will support the strengthening of school planning in order to improve learning outcomes, and to partly fund the school improvement plans through school grants. It has following two sub-components: (i) school improvement plan; and (ii) school grants. The fourth component is management and capacity building, including education management information systems (EMIS). This component will support management and capacity building aspect of the project. This component has following three sub-components: (i) capacity building for education planning and management; (ii) capacity building for school planning and management; and (iii) EMIS. The fifth component is improving the quality of learning and teaching in secondary schools and universities through the use of information and communications technology (ICT). It has following five sub-components: (i) national policy and institution for ICT in general education; (ii) national ICT infrastructure improvement plan for general education; (iii) develop an integrated monitoring, evaluation, and learning system specifically for the ICT component; (iv) teacher professional development in the use of ICT; and (v) provision of limited number of e-Braille display readers with the possibility to scale up to all secondary education schools based on the successful implementation and usage of the readers. The sixth component is program coordination, monitoring and evaluation, and communication. It will support institutional strengthening by developing capacities in all aspects of program coordination, monitoring and evaluation; a new sub-component on communications will support information sharing for better management and accountability. It has following three sub-components: (i) program coordination; (ii) monitoring and evaluation (M and E); and (iii) communication.'},
  'project_name': 'Ethiopia General Education Quality Improvement Project II',
  'projectdocs': [{'DocDate': '28-AUG-2013',
    'DocType': 'PID',
    'DocTypeDesc': 'Project Information Document (PID),  Vol.',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=090224b081e545fb_1_0',
    'EntityID': '090224b081e545fb_1_0'},
   {'DocDate': '01-JUL-2013',
    'DocType': 'IP',
    'DocTypeDesc': 'Indigenous Peoples Plan (IP),  Vol.1 of 1',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000442464_20130920111729',
    'EntityID': '000442464_20130920111729'},
   {'DocDate': '22-NOV-2012',
    'DocType': 'PID',
    'DocTypeDesc': 'Project Information Document (PID),  Vol.',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=090224b0817b19e2_1_0',
    'EntityID': '090224b0817b19e2_1_0'}],
  'projectfinancialtype': 'IDA',
  'projectstatusdisplay': 'Active',
  'regionname': 'Africa',
  'sector': [{'Name': 'Primary education'},
   {'Name': 'Secondary education'},
   {'Name': 'Public administration- Other social services'},
   {'Name': 'Tertiary education'}],
  'sector1': {'Name': 'Primary education', 'Percent': 46},
  'sector2': {'Name': 'Secondary education', 'Percent': 26},
  'sector3': {'Name': 'Public administration- Other social services',
   'Percent': 16},
  'sector4': {'Name': 'Tertiary education', 'Percent': 12},
  'sector_namecode': [{'code': 'EP', 'name': 'Primary education'},
   {'code': 'ES', 'name': 'Secondary education'},
   {'code': 'BS', 'name': 'Public administration- Other social services'},
   {'code': 'ET', 'name': 'Tertiary education'}],
  'sectorcode': 'ET,BS,ES,EP',
  'source': 'IBRD',
  'status': 'Active',
  'supplementprojectflg': 'N',
  'theme1': {'Name': 'Education for all', 'Percent': 100},
  'theme_namecode': [{'code': '65', 'name': 'Education for all'}],
  'themecode': '65',
  'totalamt': 130000000,
  'totalcommamt': 130000000,
  'url': 'http://www.worldbank.org/projects/P129828/ethiopia-general-education-quality-improvement-project-ii?lang=en'},
 {'_id': {'$oid': '52b213b38594d8a2be17c781'},
  'approvalfy': 2015,
  'board_approval_month': 'November',
  'boardapprovaldate': '2013-11-04T00:00:00Z',
  'borrower': 'GOVERNMENT OF TUNISIA',
  'country_namecode': 'Republic of Tunisia!$!TN',
  'countrycode': 'TN',
  'countryname': 'Republic of Tunisia',
  'countryshortname': 'Tunisia',
  'docty': 'Project Information Document,Integrated Safeguards Data Sheet,Integrated Safeguards Data Sheet,Project Information Document,Integrated Safeguards Data Sheet,Project Information Document',
  'envassesmentcategorycode': 'C',
  'grantamt': 4700000,
  'ibrdcommamt': 0,
  'id': 'P144674',
  'idacommamt': 0,
  'impagency': 'MINISTRY OF FINANCE',
  'lendinginstr': 'Specific Investment Loan',
  'lendinginstrtype': 'IN',
  'lendprojectcost': 5700000,
  'majorsector_percent': [{'Name': 'Public Administration, Law, and Justice',
    'Percent': 70},
   {'Name': 'Public Administration, Law, and Justice', 'Percent': 30}],
  'mjsector_namecode': [{'code': 'BX',
    'name': 'Public Administration, Law, and Justice'},
   {'code': 'BX', 'name': 'Public Administration, Law, and Justice'}],
  'mjtheme': ['Economic management', 'Social protection and risk management'],
  'mjtheme_namecode': [{'code': '1', 'name': 'Economic management'},
   {'code': '6', 'name': 'Social protection and risk management'}],
  'mjthemecode': '1,6',
  'prodline': 'RE',
  'prodlinetext': 'Recipient Executed Activities',
  'productlinetype': 'L',
  'project_name': 'TN: DTF Social Protection Reforms Support',
  'projectdocs': [{'DocDate': '29-MAR-2013',
    'DocType': 'PID',
    'DocTypeDesc': 'Project Information Document (PID),  Vol.1 of 1',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000333037_20131024115616',
    'EntityID': '000333037_20131024115616'},
   {'DocDate': '29-MAR-2013',
    'DocType': 'ISDS',
    'DocTypeDesc': 'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20131024151611',
    'EntityID': '000356161_20131024151611'},
   {'DocDate': '29-MAR-2013',
    'DocType': 'ISDS',
    'DocTypeDesc': 'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000442464_20131031112136',
    'EntityID': '000442464_20131031112136'},
   {'DocDate': '29-MAR-2013',
    'DocType': 'PID',
    'DocTypeDesc': 'Project Information Document (PID),  Vol.1 of 1',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000333037_20131031105716',
    'EntityID': '000333037_20131031105716'},
   {'DocDate': '16-JAN-2013',
    'DocType': 'ISDS',
    'DocTypeDesc': 'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20130305113209',
    'EntityID': '000356161_20130305113209'},
   {'DocDate': '16-JAN-2013',
    'DocType': 'PID',
    'DocTypeDesc': 'Project Information Document (PID),  Vol.1 of 1',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20130305113716',
    'EntityID': '000356161_20130305113716'}],
  'projectfinancialtype': 'OTHER',
  'projectstatusdisplay': 'Active',
  'regionname': 'Middle East and North Africa',
  'sector': [{'Name': 'Public administration- Other social services'},
   {'Name': 'General public administration sector'}],
  'sector1': {'Name': 'Public administration- Other social services',
   'Percent': 70},
  'sector2': {'Name': 'General public administration sector', 'Percent': 30},
  'sector_namecode': [{'code': 'BS',
    'name': 'Public administration- Other social services'},
   {'code': 'BZ', 'name': 'General public administration sector'}],
  'sectorcode': 'BZ,BS',
  'source': 'IBRD',
  'status': 'Active',
  'supplementprojectflg': 'N',
  'theme1': {'Name': 'Other economic management', 'Percent': 30},
  'theme_namecode': [{'code': '24', 'name': 'Other economic management'},
   {'code': '54', 'name': 'Social safety nets'}],
  'themecode': '54,24',
  'totalamt': 0,
  'totalcommamt': 4700000,
  'url': 'http://www.worldbank.org/projects/P144674?lang=en'}]

In [4]:
# See columns names od Dataframe
json_normalize(dataset).columns

Index(['_id.$oid', 'approvalfy', 'board_approval_month', 'boardapprovaldate',
       'borrower', 'closingdate', 'country_namecode', 'countrycode',
       'countryname', 'countryshortname', 'docty', 'envassesmentcategorycode',
       'grantamt', 'ibrdcommamt', 'id', 'idacommamt', 'impagency',
       'lendinginstr', 'lendinginstrtype', 'lendprojectcost',
       'majorsector_percent', 'mjsector_namecode', 'mjtheme',
       'mjtheme_namecode', 'mjthemecode', 'prodline', 'prodlinetext',
       'productlinetype', 'project_abstract.cdata', 'project_name',
       'projectdocs', 'projectfinancialtype', 'projectstatusdisplay',
       'regionname', 'sector', 'sector1.Name', 'sector1.Percent',
       'sector2.Name', 'sector2.Percent', 'sector3.Name', 'sector3.Percent',
       'sector4.Name', 'sector4.Percent', 'sector_namecode', 'sectorcode',
       'source', 'status', 'supplementprojectflg', 'theme1.Name',
       'theme1.Percent', 'theme_namecode', 'themecode', 'totalamt',
       'totalcommamt', 'url'],
      dtype='object')

In [6]:
# I was trying to play around here with 'json_normalize' function. Json is nested dictionaries.
# However, Error occured. I was struggling why it so (as with ''data/world_bank_projects_less.json' 
# and the same input I didn't have an error). Later I discover, there is Issue on GitHub Pandas regarding this.
# In my case  the 'theme_namecode' column has missing values so json_normalize would throw a key error 
# as some 'theme_namecode' are missing in the dicts. 
json_normalize(dataset)['theme_namecode'][:5]

0        [{'code': '65', 'name': 'Education for all'}]
1    [{'code': '24', 'name': 'Other economic manage...
2    [{'code': '47', 'name': 'Regional integration'...
3    [{'code': '57', 'name': 'Participation and civ...
4    [{'code': '45', 'name': 'Export development an...
Name: theme_namecode, dtype: object

In [8]:
json_normalize(dataset, 'theme_namecode')

KeyError: 'theme_namecode'

In [10]:
# Here are no  missing values, so it's run smoothly.
json_normalize(dataset,'mjtheme_namecode',['id']).head()

  code                                   name       id
0    8                      Human development  P129828
1   11                                         P129828
2    1                    Economic management  P144674
3    6  Social protection and risk management  P144674
4    5                  Trade and integration  P145310

In [29]:
# Get the list of columns names
col_list = list(json_normalize(dataset).columns.values)

col_list

['_id.$oid',
 'approvalfy',
 'board_approval_month',
 'boardapprovaldate',
 'borrower',
 'closingdate',
 'country_namecode',
 'countrycode',
 'countryname',
 'countryshortname',
 'docty',
 'envassesmentcategorycode',
 'grantamt',
 'ibrdcommamt',
 'id',
 'idacommamt',
 'impagency',
 'lendinginstr',
 'lendinginstrtype',
 'lendprojectcost',
 'majorsector_percent',
 'mjsector_namecode',
 'mjtheme',
 'mjtheme_namecode',
 'mjthemecode',
 'prodline',
 'prodlinetext',
 'productlinetype',
 'project_abstract.cdata',
 'project_name',
 'projectdocs',
 'projectfinancialtype',
 'projectstatusdisplay',
 'regionname',
 'sector',
 'sector1.Name',
 'sector1.Percent',
 'sector2.Name',
 'sector2.Percent',
 'sector3.Name',
 'sector3.Percent',
 'sector4.Name',
 'sector4.Percent',
 'sector_namecode',
 'sectorcode',
 'source',
 'status',
 'supplementprojectflg',
 'theme1.Name',
 'theme1.Percent',
 'theme_namecode',
 'themecode',
 'totalamt',
 'totalcommamt',
 'url']

#### 1) Find the 10 countries with most projects 
#### First, we need group by countries, then aggregate by project.counts(), then count project, sort it by numbers of project and then see top 10

In [263]:
# As the nulth step, get the columns names containing 'project' 
import re

In [264]:
# Find columns names containing 'project' in it
r = re.compile('.*project.*')
result = list(filter(r.match, col_list))

In [265]:
# Column name 'project_name' will be used (as it represent each project)
result

['lendprojectcost',
 'project_abstract.cdata',
 'project_name',
 'projectdocs',
 'projectfinancialtype',
 'projectstatusdisplay',
 'supplementprojectflg']

In [266]:
# Define df Dataframe
df = json_normalize(dataset)

In [267]:
# Group by country, count the porject of each country, then sort values (descending order) and
# list top 10 to get the answer
by_country = df.groupby('countryname')
count_by_country = by_country['project_name'].count().sort_values(ascending=False).head(10)
count_by_country.head(8)

countryname
People's Republic of China         19
Republic of Indonesia              19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Nepal                              12
People's Republic of Bangladesh    12
Kingdom of Morocco                 12
Name: project_name, dtype: int64

 #### 2) Find the top 10 major project themes (using column 'mjtheme_namecode')

In [153]:
# From Springboard Community
# This will give you one row for every project id and theme code, 
# and name combination in the data. So you can see some projects have more then one theme which is fine. 
json_normalize(dataset,'mjtheme_namecode',['id']).head()

  code                                   name       id
0    8                      Human development  P129828
1   11                                         P129828
2    1                    Economic management  P144674
3    6  Social protection and risk management  P144674
4    5                  Trade and integration  P145310

In [189]:
df_project = json_normalize(dataset,'mjtheme_namecode',['id'])

In [155]:
df_project.head()

  code                                   name       id
0    8                      Human development  P129828
1   11                                         P129828
2    1                    Economic management  P144674
3    6  Social protection and risk management  P144674
4    5                  Trade and integration  P145310

It seems there can be two approaches (as project can have more than one theme).
A) First one is, that we group project by name (this means that projects can be counted as times as many themes they have --> 1 project = many themes).
B) Second is, that project with multiple theme, we choose the first one as a major (this means that we choose one theme for project
and therefore 1 project = 1 theme).
I think both approach are correct and which one to choose purely depends what the author of the exercise wanted - and in business what the contractor wants). So I'll do both here.

In [156]:
# A) Here grouping by 'name', then counting how many times 'name' project has occured and then sort it.
by_name = df_project.groupby('name')
count_by_name = by_name['name'].count().sort_values(ascending=False).head(10)
count_by_name

name
Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Name: name, dtype: int64

In [157]:
#B) Here grouping by 'id', counting how many times name' project has occured.
by_id = df_project.groupby('id').first()
count_by_name_B = by_id.name.value_counts().head(10)
count_by_name_B

Environment and natural resources management    85
Human development                               72
Public sector governance                        64
Social protection and risk management           57
Rural development                               56
Financial and private sector development        53
Social dev/gender/inclusion                     43
Trade and integration                           25
Urban development                               23
Economic management                             11
Name: name, dtype: int64

#### 3) In 2. above you will notice that some entries have only the code and the name is missing.
#### Create a dataframe with the missing names filled in.

First, inspect whether missing codes necessarily means that I can't found name for corresponding/missing code.

In [173]:
df_project[['code', 'name']].head(10)

  code                                          name
0    8                             Human development
1   11
2    1                           Economic management
3    6         Social protection and risk management
4    5                         Trade and integration
5    2                      Public sector governance
6   11  Environment and natural resources management
7    6         Social protection and risk management
8    7                   Social dev/gender/inclusion
9    7                   Social dev/gender/inclusion

Indeed, I can find missing information -- I can find corresponding 'name' for missing 'code'. In this example, code == 11 has 'name' = 'Environment and natural resources management'

In [159]:
df_project[['code', 'name']][1:7]

  code                                          name
1   11
2    1                           Economic management
3    6         Social protection and risk management
4    5                         Trade and integration
5    2                      Public sector governance
6   11  Environment and natural resources management

So here we can use more approaches ('a key' here means pairs of codes with corresponding name of project):
1. Make dictionary as 'a key' according which the missing values will be fill
1. Make second Dataframe ('a key') and merge it with original one 
1. As in previous step, but using JOIN (these are equivalent)
I choosed to do the second one, as I like it.

In [228]:
df_missing = df_project[['code', 'name']]
df_missing = df_missing.replace('', np.nan)
type(df_missing)

pandas.core.frame.DataFrame

In [239]:
df_missing.dropna(inplace=True)
df_missing.head()

  code                                   name
0    8                      Human development
2    1                    Economic management
3    6  Social protection and risk management
4    5                  Trade and integration
5    2               Public sector governance

In [252]:
df_missing.drop_duplicates(inplace=True)
df_missing

    code                                          name
0      8                             Human development
2      1                           Economic management
3      6         Social protection and risk management
4      5                         Trade and integration
5      2                      Public sector governance
6     11  Environment and natural resources management
8      7                   Social dev/gender/inclusion
11     4      Financial and private sector development
18    10                             Rural development
53     9                             Urban development
252    3                                   Rule of law

Now df_missing is our 'key'.

In [273]:
df_temp = df_project[['code', 'name']]

In [274]:
# merge_by_city = pd.merge(revenue, managers,on='city')
df_final = pd.merge(df_missing, df_temp, on='code')

In [275]:
df_final.head(20)

   code             name_x             name_y
0     8  Human development  Human development
1     8  Human development
2     8  Human development  Human development
3     8  Human development  Human development
4     8  Human development  Human development
5     8  Human development  Human development
6     8  Human development  Human development
7     8  Human development  Human development
8     8  Human development  Human development
9     8  Human development  Human development
10    8  Human development  Human development
11    8  Human development  Human development
12    8  Human development
13    8  Human development  Human development
14    8  Human development  Human development
15    8  Human development  Human development
16    8  Human development  Human development
17    8  Human development  Human development
18    8  Human development  Human development
19    8  Human development  Human development

In [276]:
# df_final with filled values and changed name column 'name_x' to 'name'
df_final = df_final[['code', 'name_x']].rename(columns = {'name_x':'name'})
df_final.head()

  code               name
0    8  Human development
1    8  Human development
2    8  Human development
3    8  Human development
4    8  Human development

In [277]:
if df_final.isna().any().any():
    print('You have still some missing value')
else:
    print("Congratulations, you filled the missing 'name' !")

Congratulations, you filled the missing 'name' !